#Feedback-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index:1;
}

#Feedback-popup-popup_inner {
    padding: 15px;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
}

#Feedback-popup-popup_inner p {
    font-weight: bold;
    margin-top: -6px;
    float: left;
    font-size: 19px;
}

#Feedback-close {
    float: right !important;
    cursor: pointer;
    color: gray;
}

#Feedback-form-radio {
    float: left;
    font-size: 17px;
}

#Feedback-form-radio div {
    margin-left: 90%;
    margin-top: -90% !important;
}

#Feedback-form-input {
    margin-top: 10px;
    width: 630px;
    margin-right: 30px;
    padding: 5px;
}

#Feedback-form-submit {
    float: right;
    background: rgb(52, 53, 56);
    border-color: rgb(52, 53, 56);
}

#Feedback-form-cancel {
    float: left;
    background:#960028;
    border-color: #960028;
}

#Feedback-form-loading {
    margin-left: 34%;   
}

#Feedback-form-error {
    margin-top: 1.5% !important;
    margin-left: 2px;
    font-size: 10px !important;
    background-color: #FA8072;
}

#Feedback-form-success {
    margin-top: 2.1% !important;
    color: #4BB543;
    margin-left: 13%;
    font-size: 17px !important;
}

@media only screen and (max-width: 1920px) {
    #Feedback-popup-popup_inner {
        left: 35%;
        right: 30%;
    }
    #Feedback-form-input {
        width: 633px;
        height: 250px;
    }
}

@media only screen and (max-width: 1500px) {
    #Feedback-popup-popup_inner {
        left: 28%;
        right: 28%;
        top: 15%;
        bottom: 15%;
    }
    #Feedback-form-input {
        width: 537px;
        height: 150px;
    }

}

@media only screen and (max-width: 1280px) {
    #Feedback-popup-popup_inner {
        left: 28%;
        right: 28%;
        top: 15%;
        bottom: 15%;
    }
    #Feedback-form-input {
        width: 535px;
        height: 200px;
    }

}

@media only screen and (max-width: 1024px) {
    #Feedback-popup-popup_inner {
        left: 20%;
        right: 20%;
        bottom: 40%;
    }
    #Feedback-form-input {
        width: 585px;
        height: 250px;
    }

}

@media only screen and (max-width: 980px) {
    #Feedback-form-input {
        width: 557px;
    }

}

@media only screen and (max-width: 800px) {
    #Feedback-popup-popup_inner {
        left: 10%;
        right: 10%;
        bottom: 30%;
    }
    #Feedback-form-input {
        width: 585px;
    }
}

@media only screen and (max-width: 442px) {
    #Feedback-popup-popup_inner p {
        margin-top: -4px;
        text-align: left;
        font-size: 9px;
    }
    
    #Feedback-form-radio {
        font-size: 9px;
    }
    
    #Feedback-form-input {
        width: 260px;
        margin-right: 30px;
        padding: 5px;
    }

    #Feedback-popup-popup_inner {
        left: 10%;
        right: 10%;
        top: 25%;
        bottom: 25%;
    }
    
    #Feedback-form-submit {
        width: 50px;
        font-size: 10px;
        padding-left: 10px; 
    }
    
    #Feedback-form-cancel {
        width: 50px;
        font-size: 9px;
        padding-left: 10px;
    }
    
    #Feedback-form-loading {
        margin-left: 34%;   
    }
    
    #Feedback-form-error {
        margin-top: 1.5% !important;
        margin-left: 2px;
        font-size: 10px !important;
        background-color: #FA8072;
    }
    
    #Feedback-form-success {
        color: #4BB543;
        margin-left: 8%;
        font-size: 9px !important;
    }   
}

@media only screen and (max-width: 414px) {
    #Feedback-form-input {
        width: 298px;
        height: 230px;
    }  

    #Feedback-popup-popup_inner {
        bottom: 25%;
    }
}

@media only screen and (max-width: 375px) {
    #Feedback-form-input {
        width: 270px;
        height: 145px;
    } 

    #Feedback-popup-popup_inner {
        bottom: 32%;
    } 
}

@media only screen and (max-width: 360px) {
    #Feedback-form-input {
        width: 258px;
        height: 125px;
    }  

    #Feedback-popup-popup_inner {
        bottom: 30%;
    } 
}

@media only screen and (max-width: 320px) {
    #Feedback-popup-popup_inner {
        bottom: 15%;
    } 

    #Feedback-form-input {
        width: 228px;
        height: 180px;
    }  

    #Feedback-form-success {
        margin-top: 7% !important;
        margin-left: 5%;
        font-size: 7px !important;
    } 
}